<div class="register">
    <div class="column d-flex justify-content-center align-items-center h-100">
        <form action="" autocomplete="off">
            <div class="column">
                <div  class="d-flex justify-content-center align-items-center ">
                    <p class="icon-person-login">
                        <i class="bi bi-person-plus-fill"></i>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="column mr-4">
                    <div class="column">
                        <label for="">Nombres :</label>
                        <input class="form-control" type="text" required>
                    </div>
                    <div class="column mt-2">
                        <label for="">Apellidos :</label>
                        <input class="form-control" type="text" required>
                    </div>
                    <div class="column mt-2">
                        <label for="">Correo :</label>
                        <input class="form-control" type="email" required>
                    </div>

                </div>
                <div class="column">
                    <div class="column">
                        <label for="">Username :</label>
                        <input class="form-control" type="text" required>
                    </div>
                    <div class="column mt-2">
                        <label for="">Password :</label>
                        <input class="form-control" type="password" required>
                    </div>
                    <div class="column mt-2">
                        <label for="">Repetir password :</label>
                        <input class="form-control" type="password" required>
                    </div>

                </div>
            </div>
            <div class="column mt-4 ">
                <div class="d-flex  jutify-content-center">
                    <button class="m-auto btn btn-success" >Registrar</button>
                </div>
            </div>

        </form>
    </div>
</div>