<div class="login">
    <div class="column d-flex justify-content-center align-items-center h-100">

        <form class="column " autocomplete="off">
            <div class="column">
                <div  class="d-flex justify-content-center align-items-center ">
                    <p class="icon-person-login">
                        <i class="bi bi-person-circle"></i>   
                    </p>
                </div>
            </div>
            <div class="column ">
                <label>Username:</label>
                <input class="form-control" type="text" required >
            </div>
            <div class="column mt-2">
                <label>Password:</label>
                <input class="form-control" type="password" required >
            </div>
            <div class="column mt-4">
                    <button class="w-100 btn btn-primary" >Sign in</button>
            </div>

            <div class="column mt-4">
                <a routerLink="register_user">
                    Registrar Usuario
                </a>
            </div>
        </form>
    </div>
</div>